oldFlash = $('#flash_messages')
newFlash = $("<%%= j render 'shared/flash' %>")
newFlash.hide()
oldFlash.slideUp()
oldFlash.replaceWith(newFlash)
newFlash.slideDown()
new <%= @app_name.capitalize %>.Dismissable('.flash-message button')
